<form [formGroup]="questionForm">
  <div formGroupName="question" class="col-sm-5">
    <!-- Field: {{question.Field}} -->
    <div class="formGroup">
      <label for="questionType">Question Type: </label>
      <select #selectedType formControlName="questionType" id="questionType" (change)="setIsSingle()" class="form-control">
        <option  *ngFor="let type of keys()" [selected]="type" [value]="type">{{type}}</option>
      </select>
    </div>
    <div class="formGroup">
      <label for="questionText">Question Text: </label>
      <input type="text" formControlName="questionText" id="questionText" class="form-control" />
    </div>
    <div class="formGroup">
      <label for="belowQuestion">Text Below Question: </label>
      <input type="text" formControlName="belowQuestion" id="belowQuestion" class="form-control" />
    </div>
    <hr>
    <div class="formGroup">
      <label for="possibleAnswers">Possible Answers: </label>
      <div class="possible-answers">
        <div>
          <input type="text" formControlName="possibleAnswers" id="possibleAnswer1" class="form-control" />
          <input *ngIf="isSingle" type="radio" name="questionType">
          <input *ngIf="!isSingle" type="checkbox">
        </div>
        <br/>
        <div>
          <input type="text" formControlName="possibleAnswers" id="possibleAnswer2" class="form-control" />
          <input *ngIf="isSingle" type="radio" name="questionType">
          <input *ngIf="!isSingle" type="checkbox">
        </div>
        <br/>
        <div>
          <input type="text" formControlName="possibleAnswers" id="possibleAnswer3" class="form-control" />
          <input *ngIf="isSingle" type="radio" name="questionType">
          <input *ngIf="!isSingle" type="checkbox">
        </div>
        <br/>
        <div>
          <input type="text" formControlName="possibleAnswers" id="possibleAnswer4" class="form-control" />
          <input *ngIf="isSingle" type="radio" name="questionType">
          <input *ngIf="!isSingle" type="checkbox">
        </div>
      </div>
    </div>
    <div class=answers-layout>
      <label for="">Answers Layout: </label>
      <div>
        <input type="radio" name="layoutChoice">
        <label for="">Vertical</label>
      </div>
      <div>
        <input type="radio" name="layoutChoice">
        <label for="">Horizontal</label>
      </div>
    </div>
    <hr>
    <div>
      <label for="">Tags: </label>
      <input type="text" id="tags">
    </div>
  </div>
  <input type="submit">
</form>