<div class="container">
  <div class="row">
    <div class="col-lg-6 col-centered">
      <form [formGroup]="questionForm" (ngSubmit)="createQuestion()">
        <div formGroupName="question">
          Field: {{question.Field}}
          <div class="formGroup">
            <label for="questionType">Question Type: </label>
            <select #selectedType formControlName="questionType" id="questionType" (change)="setIsSingle()"
              class="form-control">
              <option *ngFor="let type of keys()" [value]="type">{{type}}</option>
            </select>
            <div *ngIf="questionTypeF.touched && questionTypeF.invalid" class="alert alert-danger">Type is required
            </div>
          </div>
          <div class="formGroup">
            <label for="questionText">Question Text: </label>
            <input type="text" formControlName="questionText" id="questionText" class="form-control" />
            <div *ngIf="questionText.touched && questionText.invalid" class="alert alert-danger">Question text is
              required</div>
          </div>
          <div class="formGroup">
            <label for="belowQuestion">Text Below Question: </label>
            <input formControlName="belowQuestion" id="belowQuestion" class="form-control" />
            <div *ngIf="belowQuestion.touched && belowQuestion.invalid" class="alert alert-danger">Content required
            </div>
          </div>
          <hr>
          <form [formGroup]="answerForm">
            <div formArrayName="answers">
              <label for="possibleAnswers">Possible Answers: </label>
              <button (click)="addAnswer()">Add new answer</button>
              <div *ngFor="let ans of answers['controls']; let i=index" class="answers-layout">
                <label>Answer {{i+1}}</label>
                <button *ngIf="answers['controls'].length > 2" (click)="removeAnswer(i)">X</button>
                <div [formGroupName]="i" style="display: flex">
                  <input type="text" formControlName="Info" class="form-control">
                  <div *ngIf="answers['controls'][i].touched && answers['controls'][i].invalid"
                    class="alert alert-danger">required</div>
                  <input formControlName="IsCorrect" *ngIf="!isSingle" type="checkbox" name="IsCorrect"
                    style="margin-left: 5px;">
                  <input formControlName="IsCorrect"
                    *ngIf="isSingle && selectedType.value == constantFields.SingleChoice" type="radio" name="IsCorrect"
                    style="margin-left: 5px;">
                </div>
              </div>
            </div>
          </form>
          <div class="answers-layout">
            <label for="">Answers Layout: </label>
            <div>
              <input type="radio" name="layoutChoice">
              <label>Vertical</label>
            </div>
            <div>
              <input type="radio" name="layoutChoice">
              <label>Horizontal</label>
            </div>
          </div>
          <hr>
          <div>
            <label for="">Tags: </label>
            <input type="text" id="tags">
          </div>
        </div>
        <button [disabled]="!questionForm.valid || !answerForm.valid" class="btn btn-primary"
          type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>