<nav class="navbar" style="background-color:darkblue">
    <div style="color:gray">Main Menu</div>
</nav>
<div class="menuDiv">
    <div>
        Choose a field of study
        <select #field>
            <option selected="field" *ngFor="let field of studyFields">{{field}}</option>
        </select>
    </div>
</div>
<div class="buttonsDiv">
    <div>
        <button class="btn btn-outline-secondary mr-2" style="margin-bottom: 10px;"
                (click)="routeToQuestions(field.value)">Manage Questions</button>
    </div>
    <div>
        <button class="btn btn-outline-secondary mr-2" style="margin-bottom: 10px;"
                (click)="routeToManageTest(field.value)">Manage Tests</button>
    </div>
    <div>
        <button class="btn btn-outline-secondary mr-2">Reports</button>
    </div>
    <div>
        <button class="btn btn-outline-secondary mr-2" style="margin-bottom: 10px;"
            (click)="routeToExams(field.value)">Exams</button>
    </div>
    <router-outlet></router-outlet>
</div>