<form [formGroup]="restorePasswordForm" (ngSubmit)="updatePassword()">
  <input type="password" placeholder="new password" name="password" formControlName="password">
  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
    <div *ngIf="f.password.errors.required">Password is required</div>
  </div>
    <input name="confirmPassword" type="password" placeholder="confirm password" formControlName="confirmPassword">
    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
      <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
      <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
    </div>
    <button type="submit">Confirm</button>
</form>