<!-- <div (click)="test($event,this.question)" class="question"> -->
<div class="row">
  <div class="col-md-2 block">
    {{question.ID}}
  </div>
  <div class="col-md-2 block">
    <div>
      {{question.Title}}
    </div>
    <div>
      {{question.tags}}
    </div>
  </div>
  <div class="col-md-2 block">
    {{question.LastUpdate}}
  </div>
  <div class="col-md-2 block">
    {{question.QuestionType}}
  </div>
  <div class="col-md-2 block">
    1111111111
  </div>
  <div class="col-md-2 block">
    <div class="question-operations">
      <question-modal [question]="question"></question-modal>
      <button class="btn btn-outline-secondary mr-2" *ngIf="!isTestform" (click)="navToEdit()">Edit</button>
      <button class="btn btn-outline-secondary mr-2" *ngIf="!isTestform"
        (click)="deleteQuestion(question.ID)">Delete</button>
    </div>
  </div>
</div>
<!-- <div class="question">
  <div> {{question.ID}}</div>
  <div>{{question.Title}}</div>
  <div>{{question.QuestionType}}</div>
  <div>{{question.LastUpdate | date:'yyyy-MM-dd'}}</div>
  <div># of Tests</div>|
  <div>{{question.tags}}</div>
  <div class="question-operations">
    <question-modal [question]="question"></question-modal>
    <button class="btn btn-outline-secondary mr-2" *ngIf="!isTestform" (click)="navToEdit()">Edit</button>
    <button class="btn btn-outline-secondary mr-2" *ngIf="!isTestform" (click)="deleteQuestion(question.ID)">Delete</button>
  </div>
</div>
<hr> -->