<h1>New Test</h1>
<form>
    <div>
        Field of study: {{category}}
    </div>
    <div>
        Language :
        <select>
            <option>English</option>
            <option>Hebrew</option>
        </select>
    </div>
    <div>
        Test Name : <input type="text">
    </div>
    <div>
        Email From: <input type="text">
    </div>
    <div>
        Passing Grade : <input type="text">
    </div>
    <div>
        Show correct answers after submission <input type="checkbox">Show
    </div>
    <div>
        Header : <textarea></textarea>
    </div>
    <div>
        Message to show on success : <textarea></textarea>
    </div>
    <div>
        Message to show on Failure : <textarea></textarea>
    </div>
    <br>
    <hr>
    <div>
        Select the Questions that you want to include in the test
    </div>

    <div style="display: flex;
    justify-content: space-between;">
        <div>
            Filter by tags : <input [(ngModel)]="filterBy" name="filterBy"  type="text" (ngModelChange)="filterByTags()">
        </div>
        <div>
            <button (click)="selectAllFiltered()">Select All Filtered</button>
        </div>
    </div>
    <br>
    <hr>
 
    <div *ngFor="let question of questionsFilteredList">
        <question [testform]="testform" [question]="question" (onSelectQuestion)="addQuestion($event)"></question>
    </div>
    <div>
        <button (click)="getQuestions()">Show more Questions</button>
    </div>
<div style="display: flex;
justify-content: center;">
    The test will include {{selectedQuestions.length}} questions
</div>
</form>
