<h1>New Test</h1>
<form [formGroup]="testForm" (ngSubmit)="createTest()">
    <div>
        Field of study: {{field}}
    </div>
    <div>
        Language :
        <select formControlName="language">
            <option selected="language"  *ngFor="let language of languages">{{language}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>Test name</label>
        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required"> Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Time</label>
        <input type="text" formControlName="time" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.time.errors }" />
        <div *ngIf="submitted && f.time.errors" class="invalid-feedback">
            <div *ngIf="f.time.errors.required"> Time is required</div>
        </div>
    </div>
   
    <div class="form-group">
        <label>Owner Email</label>
        <input type="text" formControlName="ownerEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ownerEmail.errors }" />
        <div *ngIf="submitted && f.ownerEmail.errors" class="invalid-feedback">
            <div *ngIf="f.ownerEmail.errors.required"> Owner Email is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Passing Grade</label>
        <input type="text" formControlName="passingGrade" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.passingGrade.errors }" />
        <div *ngIf="submitted && f.passingGrade.errors" class="invalid-feedback">
            <div *ngIf="f.passingGrade.errors.required"> Passing grade is required</div>
        </div>
    </div>
    <div>
        Show correct answers after submission <input formControlName="reviewAnswers" type="checkbox">Show
    </div>
    <div class="form-group">
        <label>Instructions: </label>
        <textarea formControlName="instructions" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.instructions.errors }"></textarea>
        <div *ngIf="submitted && f.instructions.errors" class="invalid-feedback">
            <div *ngIf="f.instructions.errors.required"> Header is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Message to show on success: </label>
        <textarea formControlName="msgSuccess" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.msgSuccess.errors }"></textarea>
        <div *ngIf="submitted && f.msgSuccess.errors" class="invalid-feedback">
            <div *ngIf="f.msgSuccess.errors.required"> Message success is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Message to show on Failure: </label>
        <textarea formControlName="msgFailure" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.msgFailure.errors }"></textarea>
        <div *ngIf="submitted && f.msgFailure.errors" class="invalid-feedback">
            <div *ngIf="f.msgFailure.errors.required"> Message failure is required</div>
        </div>
    </div>
    <br>
    <hr>
    <div>
        Select the Questions that you want to include in the test
    </div>

    <div style="display: flex;
    justify-content: space-between;">
        <!-- <div>
            Filter by tags : <input [(ngModel)]="filterBy" name="filterBy" type="text" (ngModelChange)="filterByTags()">
        </div> -->
        <div>
            <button type="button" (click)="selectAllFiltered()">Select All Filtered</button>
        </div>
    </div>
    <br>
    <hr>

    <div *ngFor="let question of questionsFilteredList">
        <question [isTestform]="isTestform" [question]="question" (onSelectQuestion)="addQuestion($event)"></question>
    </div>
    <div>
        <button (click)="getQuestions()">Show more Questions</button>
    </div>
    <div style="display: flex;
justify-content: center;">
        The test will include {{selectedQuestions.length}} questions
    </div>
    <br>
    <hr>

    <div style="display: flex;
    justify-content: center;">
        <button type="submit">Save</button>
    </div>
</form>