/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.horizontal {
    display: flex;    
    justify-content: space-around;
}

.correct-answer {
    background-color: green;
}

.field {
    color:orange;
}

.title {
    margin-right: 15px;
}

.title-center {
    display:flex;justify-content: center;
}
